<div class="divider mobile-only">
</div>

<div class="last-updated">Last updated on March 15, 2018.</div>

<div class="divider">
</div>

<div class="credits">

  <div class="entry"><div>Lead Developer: </div>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>

  <div class="entry"><div>Developer: </div>Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a></div>

  <div class="entry"><div>Digital Producer: </div>Kimberly Chua  &bull; <a href="mailto:kchua@sfchronicle.com">kchua@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/kimberlyachua" target="_blank">@KimberlyAChua</a>
  </div>

  <div class="entry"><div>Designer: </div>Danielle Mollette-Parks  &bull; <a href="mailto:DMollette-Parks@sfchronicle.com">DMollette-Parks@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/daniellemparks" target="_blank">@daniellemparks</a>
  </div>

  <div class="entry"><div>Contributors: </div>Rich Pestorich, Paolo Lucchesi, Clint Wirtanen, Jonathan Kauffman, Sarah Fritsche, Esther Mobley, Christina Noori, Joe Jacques, Alyssa Pereira</div>

  <div class="entry"><div>Executive Producer: </div>Tim O'Rourke  &bull; <a href="mailto:torourke@sfchronicle.com">torourke@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/timothyorourke" target="_blank">@timothyorourke</a></div>

  <div class="entry">Have a suggestion to make this map better? E-mail The Chronicle's <a href="mailto:torourke@sfchronicle.com">Tim O'Rourke</a>.</div>
</div>


<footer class="nav-bottom">
  <a class="logo" href="https://www.sfchronicle.com">
    <img src="./assets/logos/sf_logo_white.png"></img>
  </a>
</footer>
