<div class="divider">
</div>

<div class="credits">
  <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
  <div class="entry">Kimberly Chua  &bull; <a href="mailto:kchua@sfchronicle.com">kchua@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/kimberlyachua" target="_blank">@KimberlyAChua</a></div>
</div>


<footer class="nav-bottom">
  <a class="logo" href="http://www.sfchronicle.com">
    <img src="../assets/logos/sf_logo_white.png"></img>
  </a>
</footer>
