<div class="divider">
</div>

<div id="credits">
  <h2>Credits</h2>

  <div>
    <p class="credit-header">Developer</p>
    <p>Audrey DeBruine  &bull; <a href="mailto:audrey.debruine@sfchronicle.com">audrey.debruine@sfchronicle.com</a> &bull; <a href = "https://twitter.com/acdebruine" target="_blank">@acdebruine</a></p>
  </div>

  <div>
    <p class="credit-header">Digital Producers</p>
    <p>Rich Pestorich  &bull; <a href="mailto:RPestorich@sfchronicle.com">RPestorich@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/richpest" target="_blank">@richpest</a></p>
  </div>

  <div>
    <p class="credit-header">Art director</p>
    <p>Danielle Mollette-Parks  &bull; <a href="mailto:DMollette-Parks@sfchronicle.com">DMollette-Parks@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/daniellemparks" target="_blank">@daniellemparks</a></p>
  </div>

  <div>
    <p class="credit-header">Contributors</p>
    <p>Paolo Lucchesi, Clint Wirtanen, Jonathan Kauffman, Sarah Fritsche, Esther Mobley, Christina Noori, Joe Jacques, Alyssa Pereira</p>
  </div>

  <div>
    <p class="credit-header">Managing Editor, Digital</p>
    <p>Tim O'Rourke  &bull; <a href="mailto:torourke@sfchronicle.com">torourke@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/timothyorourke" target="_blank">@timothyorourke</a></p>
  </div>


    <div>
      <p class="credit-header">Photos of Beers</p>
      <% json.HOF.forEach(function(d){ %>
        <p><%= d.Beer %>: <%= d.Credit %></p>
      <% }) %>
    </div>

</div>


<footer class="pageFooter">
  <div class="lock">
    <div class="pageFooter--wrapper">
      <div class="pageFooter--left">
        <a href="https://www.sfchronicle.com" class="pageFooter--left-logo"></a>
        <ul class="pageFooter--left-social">
          <li class="facebook"><a href="https://www.facebook.com/SFChronicle/"></a></li>
          <li class="twitter"><a href="https://twitter.com/sfchronicle"></a></li>
          <li class="instagram"><a href="https://www.instagram.com/sfchronicle/"></a></li>
          <li class="linkedin"><a href="https://www.linkedin.com/company/sfchronicle"></a></li>
        </ul>
      </div>
      <div class="pageFooter--right">
        <div class="pageFooter--right-topLine">
          <a href="#" id="scrollTop" class="return"><span class="full">Return to</span> Top</a>
        </div>
        <div class="pageFooter--right-links">
          <div class="hdnce-e hdnce-item-87230">
            <ul class="wrapper">
              <li>
                <div class="footer-title">About</div>
                <ul class="section">
                  <li><a href="http://www.hearst.com/newspapers/san-francisco-chronicle.php" target="_blank">Our Company</a></li>
                  <li><a class="adChoices" href="http://www.aboutads.info/choices/" target="_blank">Ad Choices</a></li>
                  <li><a href="http://www.sfchronicle.com/hr/" target="_blank">Careers</a></li>
                  <li><a href="https://www.sfchronicle.com/terms_of_use/" target="_blank">Terms of Use</a></li>
                  <li><a href="http://marketing.sfgate.com/" target="_blank">Advertising</a></li>
                  <li><a href="https://www.sfchronicle.com/privacy_policy" target="_blank">Privacy Policy</a></li>
                  <li><a href="https://www.sfchronicle.com/privacy_policy#your_rights" target="_blank">Your Privacy Rights</a></li>
                  <li><a href="https://www.sfchronicle.com/privacy_policy/#caprivacyrights" target="_blank">Your California Privacy Rights</a></li>
                </ul>
              </li>
              <li>
                <div class="footer-title">Contact</div>
                <ul class="section">
                  <li><a href="https://www.sfchronicle.com/customer_service" target="_blank">Customer Service</a></li>
                  <li><a href="https://www.sfchronicle.com/faq" target="_blank">FAQ</a></li>
                  <li><a href="https://www.sfchronicle.com/newsroom_contacts" target="_blank">Newsroom Contacts</a></li>
                  <li><a href="https://newstips.sfchronicle.com/" target="_blank">News Tips</a></li>
                  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc7kzf1i_25UJXGZlmfusYj08usFp9JeK36knUQmYdk7CbQ7A/viewform?usp=sf_link" target="_blank">Homepage Redesign Feedback</a></li>
                </ul>
              </li>
              <li>
                <div class="footer-title">Services</div>
                <ul class="section">
                  <li><a href="https://www.sfchronicle.com/profile" target="_blank">Profile</a></li>
                  <li><a href="https://subscription.sfchronicle.com/" target="_blank">Subscriber Services</a></li>
                  <li><a href="https://www.sfchronicle.com/e-edition" target="_blank">e-edition</a></li>
                  <li><a href="https://www.sfchronicle.com/mobile-apps/" target="_blank">App</a></li>
                  <li><a href="https://www.sfchronicle.com/archive" target="_blank">Archives</a></li>
                  <li><a href="https://www.sfchronicle.com/membership" target="_blank">Membership</a></li>
                  <li><a href="https://sfchronicle.myshopify.com/" target="_blank">Store</a></li>
                  <li><a href="https://offers.sfchronicle.com/subscribe/?origin=sfc.footer&amp;ipid=suboffers" target="_blank">Subscription Offers</a></li>
                  <li><a href="https://www.sfgate.com/" target="_blank">sfgate.com</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pageFooter--branding">
      <img class="pageFooter--branding-logo" src="https://sfchronicle.com/img/hearst_newspapers_logo.svg" />
      <span class="pageFooter--branding-copyright">©<%= new Date().getFullYear() %> Hearst</span>
    </div>
  </div>
</footer>
