<!-- Favicon -->
<link rel="shortcut icon" href="http://www.sfchronicle.com/favicon.ico" type="image/x-icon">

<!-- BEGIN TWITTER SUMMARY CARD -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<%= grunt.data.json.project.title %>">
<meta name="twitter:site" content="@sfchronicle">
<meta name="twitter:url" content="<%= grunt.data.json.project.url + grunt.data.json.project.slug%>">
<meta name="twitter:image" content="<%= grunt.data.json.project.url + grunt.data.json.project.slug + grunt.data.json.project.image %>">
<meta name="twitter:description" content="<%= grunt.data.json.project.description %>">

<!-- Social sharing meta -->
<meta property="og:type" content="article">
<meta property="og:title" content="<%= grunt.data.json.project.title %>">
<meta property="og:site_name" content="The San Francisco Chronicle">
<meta property="og:url" content="<%= grunt.data.json.project.url + grunt.data.json.project.slug %>">
<meta property="og:image" content="<%= grunt.data.json.project.url + grunt.data.json.project.slug + grunt.data.json.project.image %>">
<meta property="og:description" content="<%= grunt.data.json.project.description %>">
