<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="ispremium" content="<%= json.project.paywall_meta %>">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>
    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="hed-wrapper">

      <div class="hed-content">

        <div class="hed-video">
          <video autoplay muted loop playsinline>
            <source src="./assets/video.mp4" type="video/mp4">
          </video>
        </div>

        <div class="hed-overlay"></div>

        <div class="flex-topper">
          <div class="banner-content">

            <div class="hed">The Ultimate NorCal Brewery Map</div>

            <div class="last-updated"><span>Updated:</span> June 29, 2020</div>
            <div class="chatter">This interactive map features more than 300 breweries in Northern California. Hover and click on the spots, search for your favorites, or check out our list of beer excursions.</div>

            <div class="button-container">
              <div class="button list-button">Breweries</div>
              <div class="button trails-button">Brewery Trails</div>
              <div class="button picks-button"><i class="fa fa-star" aria-hidden="true"></i> Editors' Picks</div>
            </div>

          </div>

<!--
          <div class="sponsor desktop">
            <a href="https://www.eventbrite.com/e/oktoberfest-by-the-bay-2019-tickets-62663557387" rel="noopener" target="_blank">
              <img src="https://s.hdnux.com/photos/01/05/40/31/18220647/4/500x0.jpg" />
            </a>
          </div>
        -->
        </div>

      </div>
    </div>

<!--
    <div class="sponsor mobile">
      <a href="https://www.eventbrite.com/e/oktoberfest-by-the-bay-2019-tickets-62663557387" rel="noopener" target="_blank">
        <img src="https://s.hdnux.com/photos/01/05/40/31/18220647/4/500x0.jpg" />
      </a>
    </div>
-->

    <div class="content">
      <div class="map-wrapper">
        <div id="scroll-to-top"></div>
        <div class="map-container">
          <div id="map"></div>
        </div>
        <div class="tooltip-beermap"></div>
      </div>


      <div class="sidebar">
        <div id="list-popup">
          <div class="popup-content">
            <div class="popup-close">X</div>
            You currently have no breweries saved to a list. Please
            use the checkbox in the Brewery List to add breweries and click
            on the "Email List" to send your list to yourself and/or friends.
          </div>
        </div>


        <div id="ssec">
          <div id="stick-me">
            <div class="tabs">
               <div class="cntl selected list-button" id="scntl">Breweries</div>
              <div class="cntl trails-button" id="pcntl">Trails</div>
              <div class="cntl picks-button" id="edpicks">Editors' Picks</div>
              <div class="cntl mylist-button" id="mylist">My List</div>

            </div>

            <div class="search-container">
              <span class="search">Search by brewery or city:</span>
              <input class="input" id="searchbar" type="text" placeholder="Try Oakland or Lagunitas or ... ">
            </div>

            <div id="mylist-text">Add breweries to this list on the Brewery List tab and then click on the "Email List" to send your list to yourself and/or friends.</div>

            <div class="main-buttons">
              <div class="button" id="reset-button">Reset map</div>
              <div id="email-list" class="button">Email list</div>
            </div>
          </div>

          <div class="brewery-list" id="brewery-list">
            <div class="brewery-scroll-container">

              <div id="no-results">There are no results for your search.<br>Please try again.</div>
              <div id="count-results"></div>

              <% json.Open.forEach(function(d){ %>
              <% var strBrewery = d.Brewery; %>
              <% console.log(d) %>
              <% var strCity = d.City; %>

              <% if (d.EditorsPick){ %>
                <% var edClass = "editors-pick"; %>
              <% } else { %>
                <% var edClass = ""; %>
              <% } %>

                <div class="brewery-group <%=edClass%> <%=strBrewery.toLowerCase().replace(/ /g,'').replace(/\d+/g, '').replace(/\(|\)/g, '').replace(/ü/g, 'u') %> <%=strCity.toLowerCase().replace(/ /g,'') %> active" id="<%=d.BreweryClass.toLowerCase().replace(/\d+/g, '').replace(/\(|\)/g, '').replace('.','').slice(7)%>">
                  <div class="name">
                    <% if (d.EditorsPick){ %>
                      <i class="fa fa-star" aria-hidden="true"></i> <%=d.Brewery%>
                    <% } else { %>
                      <%=d.Brewery%>
                    <% } %>
                    </a></div>
                  <div class="address"><%=d.Address%>, <%=d.City%></div>
                  <div class="blurb"><%=d.Blurb%></div>
                  <div class="clickme <%=d.BreweryClass%> <%=strBrewery.toLowerCase().replace(/ /g,'').replace(/\d+/g, '').replace(/\(|\)/g, '').replace(/ü/g, 'u') %>">Find on map</div>
                  <% if (d.SFC_links){ %>
                    <% if (d.SFC_links.split(", ").length > 1){ %>
                      <% var sfclinkslist = d.SFC_links.split(", "); %>
                      <% sfclinkslist.forEach(function(sfclink,sfclinkIDX){ %>
                        <% if (sfclinkIDX == 0){ %>
                          <% var text = "Chronicle coverage"; %>
                        <% } else { %>
                          <% var text = "Read more"; %>
                        <% } %>
                        <div class="read-more readmore<%=sfclinkIDX%>"><a href="<%=sfclink%>" target="_blank"><%=text%></a></div>
                      <% }) %>
                    <% } else { %>
                      <div class="read-more"><a href="<%=d.SFC_links%>" target="_blank">Chronicle coverage</a></div>
                    <% } %>
                  <% } %>
                  <div class="brewery-link"><a href="<%=d.Website%>" target="_blank">Brewery website</a></div>
                  <div class="savetolist">
                    <label><input type="checkbox" class="savebeer" data-id="<%=d.BreweryClass.toLowerCase().replace(/\d+/g, '').replace(/\(|\)/g, '').slice(7)%>" name="<%=d.Brewery%>" value="<%=d.Brewery%>" data-address="<%=d.Address%>, <%=d.City%>" data-info="<%=encodeURIComponent(d.Blurb)%>">
                      <span>Add to list</span>
                    </input></label>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
          <div id="psec">

            <div id="chosen-brewery-trails"></div>

            <% json.Trails.forEach(function(d){ %>
              <div class="trail-group">
                <div class="trail-title"><%=d.title%></div>
                <div class="trail-desc"><span class="bold-class">Description: </span><%=d.description%></div>
                <div class="trail-transit"><span class="bold-class">Transit: </span><%=d.transit%></div>
                <div class="clickme-trail <%=d.class%>">Find me on the map</div>
                <div class="trail-author"> &mdash; <%=d.author%></div>
              </div>
            <% }); %>
          </div>

        </div>

      </div>

    </div>

    <section class="latest-news">
      <div class="wrapper">
        <h2>More beer coverage</h2>
        <div class="stories">
          <div class="story "><a target="_blank" href="https://www.sfchronicle.com/wine/article/Results-are-in-for-The-Chronicle-s-Northern-15033715.php"><img src="https://s.hdnux.com/photos/01/10/34/35/18990970/5/premium_gallery_landscape.jpg"></a><div class="story-info"><h3><a target="_blank" href="https://www.sfchronicle.com/wine/article/Results-are-in-for-The-Chronicle-s-Northern-15033715.php"><span class="latest-title">Results are in for The Chronicle’s Northern California Beer Hall of Fame class of 2020</span></a></h3></div></div>
          <div class="story "><a target="_blank" href="https://www.sfchronicle.com/wine/article/Fort-Point-aims-to-eclipse-Anchor-as-the-new-San-15008082.php"><img src="https://s.hdnux.com/photos/01/10/23/42/18954414/16/premium_gallery_landscape.jpg"></a><div class="story-info"><h3><a target="_blank" href="https://www.sfchronicle.com/wine/article/Fort-Point-aims-to-eclipse-Anchor-as-the-new-San-15008082.php"><span class="latest-title">San Francisco’s new hometown brewery</span></a></h3></div></div>
          <div class="story "><a target="_blank" href="https://www.sfchronicle.com/wine/article/The-hot-new-thing-in-craft-beer-Good-15018302.php"><img src="https://s.hdnux.com/photos/01/10/20/34/18941719/5/premium_gallery_landscape.jpg"></a><div class="story-info"><h3><a target="_blank" href="https://www.sfchronicle.com/wine/article/The-hot-new-thing-in-craft-beer-Good-15018302.php"><span class="latest-title">The hot new thing in craft beer? Good old-fashioned lager</span></a></h3></div></div>
        </div>
      </div>
    </section>

    <%= t.include("partials/_footer.html") %>

    <script>
      var beerData = <%= JSON.stringify(json.Open) %>
      var trailsData = <%= JSON.stringify(json.Trails) %>
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
