<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="hed-wrapper">
      <div class="banner-img left desktop"><img src="./assets/graphics/hopsL.png"></img></div>
      <div class="banner-content">
        <div class="title-mobile">
          <div class="banner-img left mobile"><img src="./assets/graphics/hopsL.png"></img></div>
          <div class="hed">The Ultimate NorCal Brewery Map</div>
          <div class="banner-img right mobile"><img src="./assets/graphics/hopsR.png"></img></div>
        </div>
        <div class="chatter">This redesigned interactive map features more than 220 breweries in Northern California. Hover and click on the spots, search for your favorites, or check out our list of beer excursions.</div>
        <div class="button-container">
          <div class="button selected" id="list-button">Brewery List</div>
          <div class="button" id="trails-button">Brewery Trails</div>
          <div class="button" id="reset-button">Reset map</div>
        </div>
      </div>
      <div class="banner-img right desktop"><img src="./assets/graphics/hopsR.png"></img></div>
    </div>

    <div class="content">
      <div class="map-wrapper">
        <div id="scroll-to-top"></div>
        <div class="map-container">
          <div id="map"></div>
        </div>
        <div class="tooltip-beermap"></div>
        <div id="chosen-brewery"></div>
      </div>

      <div class="sidebar">

        <div id="psec">
          <div class="cntl" id="pcntl">Brewery Trails</div>
          <% json.Trails.forEach(function(d){ %>
            <div class="trail-group">
              <div class="trail-title"><%=d.title%></div>
              <div class="trail-desc"><span class="bold-class">Description: </span><%=d.description%></div>
              <div class="trail-transit"><span class="bold-class">Transit: </span><%=d.transit%></div>
              <div class="clickme-trail <%=d.class%>"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Click here to find me on the map.</div>
              <div class="trail-author"> &mdash; <%=d.author%></div>
            </div>
          <% }); %>
        </div>


        <div id="ssec">
          <div class="cntl" id="scntl">Brewery List</div>
          <div class="search-container">
            <span class="search">Search by brewery or city:</span>
            <input class="input" id="searchbar" type="text" placeholder="Try Oakland or Lagunitas or ... ">
          </div>
          <div class="brewery-list">
            <div class="brewery-scroll-container">

              <% json.Open.forEach(function(d){ %>
              <% var strBrewery = d.Brewery; %>
              <% var strCity = d.City; %>
                <div class="brewery-group <%=strBrewery.toLowerCase().replace(/ /g,'') %> <%=strCity.toLowerCase().replace(/ /g,'') %> active">
                  <div class="name"><%=d.Brewery%>  <a href="<%=d.Website%>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                  <div class="address"><%=d.Address%>, <%=d.City%></div>
                  <div class="blurb"><%=d.Blurb%></div>
                  <div class="clickme <%=d.BreweryClass%>"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Click here to find me on the map.</div>
                </div>
              <% }); %>
            </div>
          </div>
        </div>

      </div>

    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var beerData = <%= JSON.stringify(json.Open) %>
      var trailsData = <%= JSON.stringify(json.Trails) %>
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
