<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css?4">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- Mapbox GL -->
    <!-- <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css" rel='stylesheet' />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js"></script> -->

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="hed-wrapper">
      <div class="banner-img left desktop"><img src="./assets/graphics/hopsL.png"></img></div>
      <div class="banner-content">
        <div class="title-mobile">
          <div class="banner-img left mobile"><img src="./assets/graphics/hopsL.png"></img></div>
          <div class="hed">The Ultimate NorCal Brewery Map</div>
          <div class="banner-img right mobile"><img src="./assets/graphics/hopsR.png"></img></div>
        </div>
        <div class="chatter">This redesigned interactive map features more than 250 breweries in Northern California. Hover and click on the spots, search for your favorites, or check out our list of beer excursions.</div>
        <div class="button-container">
          <div class="button selected" id="list-button">Brewery List</div>
          <div class="button" id="trails-button">Brewery Trails</div>
        </div>
      </div>
      <div class="banner-img right desktop"><img src="./assets/graphics/hopsR.png"></img></div>
    </div>

    <div class="content">
      <div class="map-wrapper">
        <div id="scroll-to-top"></div>
        <div class="map-container">
          <div id="map"></div>
        </div>
        <div class="tooltip-beermap"></div>
      </div>

      <div class="sidebar">

        <div id="psec">
          <div class="cntl" id="pcntl">Brewery Trails</div>

          <div id="chosen-brewery-trails"></div>

          <% json.Trails.forEach(function(d){ %>
            <div class="trail-group">
              <div class="trail-title"><%=d.title%></div>
              <div class="trail-desc"><span class="bold-class">Description: </span><%=d.description%></div>
              <div class="trail-transit"><span class="bold-class">Transit: </span><%=d.transit%></div>
              <div class="clickme-trail <%=d.class%>"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Click here to find me on the map.</div>
              <div class="trail-author"> &mdash; <%=d.author%></div>
            </div>
          <% }); %>
        </div>


        <div id="ssec">
          <div id="stick-me">
            <div class="cntl" id="scntl">Brewery List</div>
            <div class="button" id="reset-button">Reset map</div>
            <div class="search-container">
              <span class="search">Search by brewery or city:</span>
              <input class="input" id="searchbar" type="text" placeholder="Try Oakland or Lagunitas or ... ">
            </div>
          </div>
          <div id="no-results">There are no results for your search. Please try again.</div>
          <div class="brewery-list" id="brewery-list">
            <div class="brewery-scroll-container">

              <div id="chosen-brewery"></div>

              <% json.Open.forEach(function(d){ %>
              <% var strBrewery = d.Brewery; %>
              <% var strCity = d.City; %>
                <div class="brewery-group <%=strBrewery.toLowerCase().replace(/ /g,'').replace(/ü/g, 'u') %> <%=strCity.toLowerCase().replace(/ /g,'') %> active" id="<%=d.BreweryClass.toLowerCase().split('brewery')[1]%>">
                  <div class="name"><%=d.Brewery%></a></div>
                  <div class="address"><%=d.Address%>, <%=d.City%></div>
                  <div class="blurb"><%=d.Blurb%></div>
                  <div class="clickme <%=d.BreweryClass%>"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Click here to find me on the map.</div>
                  <% if (d.SFC_links){ %>
                    <% if (d.SFC_links.split(", ").length > 1){ %>
                      <% var sfclinkslist = d.SFC_links.split(", "); %>
                      <% sfclinkslist.forEach(function(sfclink,sfclinkIDX){ %>
                        <% if (sfclinkIDX == 0){ %>
                          <% var text = "Chronicle coverage"; %>
                        <% } else { %>
                          <% var text = "Read more"; %>
                        <% } %>
                        <div class="read-more readmore<%=sfclinkIDX%>"><a href="<%=sfclink%>" target="_blank"><i class="fa fa-external-link"></i> <%=text%></a></div>
                      <% }) %>
                    <% } else { %>
                      <div class="read-more"><a href="<%=d.SFC_links%>" target="_blank"><i class="fa fa-external-link"></i>Chronicle coverage</a></div>
                    <% } %>
                  <% } %>
                  <div class="brewery-link"><a href="<%=d.Website%>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>Visit brewery website</div>
                </div>
              <% }); %>
            </div>
          </div>
        </div>

      </div>

    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var beerData = <%= JSON.stringify(json.Open) %>
      var trailsData = <%= JSON.stringify(json.Trails) %>
    </script>

    <script src="app.js?4" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
